<div class="checkout-container">
    <h3>Your purchase has been succesful!</h3>
    <a href="/catalogue">Back to catalogue</a>
    <img src="/images/pago-online-compra-exitosa-mujer-nina-regocija-exito-confirmacion-pedido-comprar-cosas-productos-tienda-linea-telefono-inteligente_180816-410__1_-removebg-preview.png" alt="">
</div>
