<!-- TEST SECTION -->
<div class='illustration-container'>
  <div class='hero-text'>
    <p>Every comic <br /> is a <strong>new adventure</strong></p>
    <a class='shop-btn' href='/catalogue'>SHOP NOW</a>
  </div>

  <img id='illustration' src='/images/streamlinehq-get-inspired-bruxelles-999.svg' alt='' />
</div>

<!--SECOND SECTION -->
<div class='second-section'>
  <div class='video-box'>
    <div id='test'> <img id='tv' src='/images/kisspng-television-set-flat-panel-display-thanthi-tv-tv-5abcd120d9d858.2318277115223237448923-removebg-preview.png' alt='' /></div>
    <div>
      <video class='video' autoplay muted loop src='https://i.imgur.com/ND9qZlb.mp4'></video>
    </div>
  </div>
</div>
<div>
</div>
<!--THIRD SECTION -->
<div class='third-section'>
  <h2>Celebrating <br /> the vintage nostalgia</h2>
  <p>Find all the old good comics, at just one click</p>
  <img id='reading' src='/images/streamlinehq-reading-a-book-bruxelles-999.svg' alt='' />
  <a class='shop-btn' href='/catalogue'>CHECK THE CATALOGUE</a>
</div>
